{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} TURBO STREAM{% endblock %}

{% block content %}

    <div class="container mt-5">

        <h1>Symfony UX TURBO STREAM</h1>

        <p><a href="https://github.com/symfony/ux-turbo#coming-alive-with-turbo-streams" target="_blank">https://github.com/symfony/ux-turbo#coming-alive-with-turbo-streams</a></p>

        <div class="my-3" id="badges" {{ turbo_stream_listen('App\\Entity\\Badge') }}>
            {% for badge in badges %}
                <div id="badge_{{ badge.id }}" class="btn btn-sm btn-primary">
                    {{ badge.label }} <span class="badge bg-danger">{{ badge.counter }}</span>
                </div>
            {% endfor %}
        </div>

        <div class="border p-5 m-0" {{ turbo_stream_listen('my_topic_for_news') }}>
            <h3 id="title">{{ news.title }}</h3>
            <p class="m-0" id="content">{{ news.content }}</p>
        </div>

        <p class="mt-3">
            <a href="{{ path('ux_turbo_stream_manager') }}" data-turbo="false" target="_blank">Open Back-Office</a> |
            <a href="{{ path('badge_index') }}" data-turbo="false" target="_blank">Open Badge CRUD</a> |
            <a href="http://localhost:8888/.well-known/mercure/ui/" data-turbo="false" target="_blank">Open HUB Mercure UI</a>
        </p>

    </div>

{% endblock %}
