<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony UX{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body {{ stimulus_controller('symfony/ux-swup/swup') }}>
        {% block body %}
            {% block header %}
                <header>
                    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                        <a class="navbar-brand" href="/">Symfony UX</a>
                        <button class="navbar-toggler"
                                type="button"
                                data-toggle="collapse"
                                data-target="#navbar-dropdown"
                                aria-controls="navbar-dropdown"
                                aria-expanded="false"
                                aria-label="Toggle navigation"
                        ><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbar-dropdown">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item"><a class="nav-link" href="{{ path('ux_chart') }}">CHART</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ path('ux_cropper') }}">CROPPER</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ path('ux_dropzone') }}">DROPZONE</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ path('ux_lazy_image') }}">LAZYIMAGE</a></li>
                            </ul>
                        </div>
                    </nav>
                </header>
            {% endblock %}
            {% block main %}
                <main role="main" id="swup">
                    {% block content %}
                        <section class="jumbotron text-center p-5 bg-light">
                            <div class="container">
                                <h1>Example</h1>
                                <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                                <p>
                                    <a href="#" class="btn btn-primary my-2">Main call to action</a>
                                    <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                                </p>
                            </div>
                        </section>
                    {% endblock %}
                </main>
            {% endblock %}
            {% block footer %}<footer class="container"></footer>{% endblock %}
        {% endblock %}
    </body>
</html>
